.center-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

/* Table */

.table-container {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;      
  width: 60%;
}
table {
  border-collapse: separate;
  border-collapse: collapse;
  text-align: left;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  background-color: white;
}
thead {
  background-color: #2c3e50;
  color: white;
}
th {
  padding: 15px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.85rem;
}
td {
  min-width: 120px;
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.main-row {
  cursor: pointer;
  transition: background 0.2s;
}

.main-row:hover {
  background-color: #f8f9fa;
}

.main-row.active {
  background-color: #ecf0f1;
}

.bold { 
  font-weight: bold; 
}

.details-row td {
  padding: 0; 
  background-color: #fafafa;
}

.details-content {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  animation: slideDown 0.3s ease-out;
}

.actions {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}


@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Statuses */

.status-list {
  display: flex;
  flex-direction: column;
}
.status-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 25px;
  cursor: pointer;
  transition: background 0.2s;
  border-bottom: 1px solid #f0f0f0;
}
.status-option:hover {
  background-color: #f0f7ff;
}
.status-option.selected {
  background-color: #f0f7ff;
}
.status-info {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 500;
  color: #2c3e50;
}
.status-option.selected .status-info {
  color: #001f34;
}
.status-modal {
  padding: 0;  
  overflow: hidden;
}

/* Buttons */

button {
  justify-content: center;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-edit { 
  background: #8dc2f4; 
  color: white;
}
.btn-delete { 
  background: #ff7675; 
  color: white;
}
.btn-delete-outlined {
  border: 1px solid #ff7675;
  background-color: #ffeded;
  color: #ff7675;
}
.btn-action {
  width: 100%;          
  padding: 10px 20px;
  background-color: #2a9f62;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}
.btn-primary {
  background-color: #2a9f62;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
.btn-primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #2c3e50;
  color: #2c3e50;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}
.btn-save-status:active {
  transform: scale(0.98);
}

/*Modals*/

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal-content {
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  min-width: 200px;
}
.modal-add-content {
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  padding: 40px;
  width: 40%;
}
.modal-actions{
  display: flex;
  margin-left: 20px;
  gap: 10px;
}
.modal-header h3 {
  margin: 20px;
  font-size: 1.1rem;
  text-align: center;
}
.modal-footer.full-width {
  padding: 15px;
  margin: 0;
}
.no-padding {
  padding: 0;
}

.form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Inputs */

.badge[data-status="TODO"] { background: #ffeaa7; color: #d35400; }
.badge[data-status="DONE"] { background: #6df799; color: #2a9f62; }
.badge[data-status="IN_PROGRESS"] { background: #8dc2f4; color: #4858a9; }

.selected-check {
  color: #2a9f62;
  font-size: 20px;
}
label {
  font-weight: 600;
  font-size: 0.9rem;
  color: #444;
}
input, textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-family: inherit;
  font-size: 1rem;
}
input:focus, textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0,123,255,0.1);
}
input.error {
  border-color: #dc3545;
}
.modal-footer {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.badge {
  padding: 4px 10px;
  border-radius: 15px;
  font-size: 0.75rem;
  background: #dfe6e9;
}