<div class="center-wrapper">
  <div class="table-container">
    <button class="btn-action" (click)="openAddModal()">
      Add a new task
    </button>
    <table>
      <thead>
        <tr>
          <th (click)="toggleSort('id')">
            <div class="head">
              ID
              @if(sortField() === 'id') {
                <span class="material-icons sort-icon">
                  {{ sortDir() === 'asc' ? 'arrow_drop_down' : 'arrow_drop_up' }}
                </span>
              }
            </div>
          </th>
          <th (click)="toggleSort('title')">
            <div class="head">
              Title
              @if(sortField() === 'title') {
                <span class="material-icons sort-icon">
                  {{ sortDir() === 'asc' ? 'arrow_drop_down' : 'arrow_drop_up'}}
                </span>
              }
            </div>
          </th>
          <th (click)="toggleSort('status')">
            <div class="head">
              Status
              @if(sortField() === 'status') {
                <span class="material-icons sort-icon">
                  {{ sortDir() === 'asc' ? 'arrow_drop_down' : 'arrow_drop_up' }}
                </span>
              }
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (task of pagedTasks(); track task.id) {
          <tr 
            class="main-row" 
            (click)="toggleTask(task.id)" 
            [class.active]="expandedTaskId() === task.id"
            [animate.enter]="'row-enter'"
          >
            <td>#{{ task.id }}</td>
            <td class="bold">{{ task.title }}</td>
            <td>
              <span class="badge" [attr.data-status]="task.status">{{ task.status }}</span>
            </td>
            <td class="arrow">
              <span class="material-icons">
                {{ expandedTaskId() === task.id ? 'expand_less' : 'expand_more' }}
              </span>
            </td>
          </tr>

          @if (expandedTaskId() === task.id) {
            <tr class="details-row">
              <td colspan="4">
                <div class="details-content">
                  <p><strong>Description:</strong> {{ task.description }}</p>
                  <p><strong>Date:</strong> {{ task.createdAt | date:'short' }}</p>
                  <div class="actions">
                    <button class="btn-edit" (click)="openEditModal(task)">
                      Edit
                    </button>
                    <button class="btn-delete" (click)="openRemoveModal(task)">
                      Delete
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="page() === 1">
        <span class="material-icons btn-prev">keyboard_double_arrow_left</span>
      </button>
      <p class="page-info">
        Page  {{ page() }}  / {{ totalPages() }}
      </p>
      <button (click)="nextPage()" [disabled]="page() === totalPages()">
        <span class="material-icons btn-next">keyboard_double_arrow_right</span>
      </button>
    </div>
  </div>
</div>

@if (isEditModalOpen()) {
  <div class="modal-backdrop" (click)="closeEditModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h3>#{{ taskToEdit()?.id }} Edit your task</h3>
      </div>
      <form [formGroup]="newDescriptionForm" class="modal-body">
        <div class="badge-list">
          @for (status of statusOptions; track status) {
            <button
              class="badge badge-btn"
              [attr.data-status]="status"
              [class.selected]="taskToEdit()?.status === status"
              (click)="changeStatus(status)">
              {{status}}
            </button>
          }
        </div>
        <div class="edit-desc">
          <label>
            <input type="checkbox" (change)="toggleDescriptionEdit($event)"/> 
            Edit a task description
          </label>
        </div>
        <div class="form-group">
          <textarea 
            id="description" 
            formControlName="description" 
            rows="4" 
            placeholder="What to do?"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-cancel-outlined" (click)="closeEditModal()">Cancel</button>
          <button 
            class="btn-save" 
            (click)="changeDescription()"
            [disabled]="newDescriptionForm.get('description')?.disabled || newDescriptionForm.pristine">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
}

@if (isRemoveModalOpen()) {
  <div class="modal-backdrop" (click)="closeRemoveModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h3>#{{ taskToEdit()?.id }} Are you sure to delete this item?</h3>
      </div>
      <div class="modal-body">
        <div class="modal-actions">
          <button class="btn-edit" (click)="closeRemoveModal()"> 
            Cancel
          </button>
          <button class="btn-delete-outlined" (click)="confirmDelete()">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
}

@if (isAddModalOpen()) {
  <div class="modal-backdrop" (click)="closeAddModal()">
    <div class="modal-add-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h3>Add a new task</h3>
      </div>
      <div>
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="title">Title</label>
            <input 
              id="title" 
              type="text" 
              formControlName="title" 
              placeholder="Enter a short title"
              [class.error]="taskForm.get('title')?.invalid && taskForm.get('title')?.touched">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea 
              id="description" 
              formControlName="description" 
              rows="4" 
              placeholder="What to do?"></textarea>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn-cancel-outlined" (click)="closeAddModal()">Cancel</button>
            <button type="submit" class="btn-add" [disabled]="taskForm.invalid">
              Create a task
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
}