.center-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

/* Table */

.table-container {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;      
  width: 60%;
}
table {
  border-collapse: separate;
  border-collapse: collapse;
  text-align: left;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  background-color: var(--color-bg-sheet);
}
thead {
  background-color: var(--color-primary);
  color: var(--color-text-white);
}
th {
  padding: 15px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.85rem;
}
td {
  min-width: 120px;
  padding: 15px;
  border-bottom: 1px solid var(--color-border-light);
}
.main-row {
  cursor: pointer;
  transition: background 0.2s;
}
.main-row:hover {
  background-color: var(--color-bg-hover);
}

.main-row.active {
  background-color: var(--color-bg-active);
}
.bold { 
  font-weight: bold; 
  white-space: nowrap; 
  overflow: hidden;        
  text-overflow: ellipsis;   
  max-width: 120px;
}
.details-row td {
  padding: 0; 
  background-color: var(--color-bg-details);
}
.details-content {
  padding: 20px;
  border-bottom: 1px solid var(--color-border-normal);
  animation: slideDown 0.3s ease-out;
}
.actions {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}
.head {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center; 
  justify-content: flex-start;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-info {
  font-weight: bold;
  color: var(--color-btn-newpage);
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}


/* Buttons */

button {
  background-color: transparent;
  justify-content: center;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:disabled {
  opacity: 0.2;      
  cursor: not-allowed;   
  pointer-events: none;   
}
.btn-edit { 
  background: var(--color-btn-blue);
  color: var(--color-text-white);
}
.btn-add { 
  background: var(--color-btn-green);
  color: var(--color-text-white);
}
.btn-cancel-outlined { 
  border: 1px solid var(--color-btn-red);
  background-color: var(--color-bg-sheet);
  color: var(--color-btn-red);
}
.btn-delete { 
  background: var(--color-btn-red);
  color: var(--color-text-white);
}
.btn-delete-outlined {
  border: 1px solid var(--color-btn-red);
  background-color: var(--color-btn-light-red);
  color: var(--color-btn-red);
}
.btn-action {
  width: 100%;          
  padding: 10px 20px;
  background-color: var(--color-btn-green);
  color: var(--color-text-white);
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}
.btn-save {
  background: var(--color-btn-green);
  color: var(--color-text-white);
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-save:disabled {
  opacity: 0.5;      
  cursor: not-allowed;   
  pointer-events: none;   
}
.btn-next {
  color: var(--color-btn-newpage);
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
  font-size: 36px;
}
.btn-prev {
  color: var(--color-btn-newpage);
  background-color: transparent;
  margin-right: auto;
  cursor: pointer;
  font-size: 36px;
}
/*Modals*/

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal-content {
  background-color: var(--color-bg-modal);
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  padding-inline: 30px;
  padding-bottom: 20px;
  min-width: 200px;
}
.modal-body {
  flex-direction: column;
}
.modal-add-content {
  background-color: var(--color-bg-modal);
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  padding: 40px;
  width: 40%;
}
.modal-actions{
  display: flex;
  margin-left: 20px;
  gap: 10px;
}
.modal-header h3 {
  margin: 20px;
  font-size: 1.1rem;
  text-align: center;
}
.modal-footer.full-width {
  padding: 15px;
  margin: 0;
}
.no-padding {
  padding: 0;
}
.form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.edit-desc{
  padding-top: 20px;
}

/* Inputs */

.badge[data-status="TODO"] { background: var(--color-bdg-todo); color: var(--color-bdg-todo-content); }
.badge[data-status="DONE"] { background: var(--color-bdg-done); color: var(--color-bdg-done-content); }
.badge[data-status="IN_PROGRESS"] { background: var(--color-bdg-inprogress); color: var(--color-bdg-inprogress-content); }

label {
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--color-text-light);
}
input, textarea {
  padding: 10px;
  border: 1px solid var(--color-bg-input);
  border-radius: 6px;
  font-family: inherit;
  font-size: 1rem;
  resize: none;
}
input:focus, textarea:focus {
  outline: none;
  border-color: var(--color-text-focus);
  box-shadow: 0 0 0 2px rgba(0,123,255,0.1);
}
input.error {
  border-color: var(--color-text-error);
}
.modal-footer {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.badge-list {
  display: flex;
  flex-direction: row;
  min-width: 300px;
  gap: 15px;
  padding-top: 10px;
}
.badge {
  padding: 4px 10px;
  border-radius: 15px;
  font-size: 0.75rem;
  background: #dfe6e9;
}
.badge-btn {
  position: relative;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 15px;
  font-size: 0.8rem;
  transition: filter 0.2s ease, transform 0.2s ease;
  border: 2px solid transparent;
}
.badge-btn:hover {
  filter: brightness(0.9); 
}
.badge-btn.selected {
  font-weight: bold;
  box-shadow: inset 0 0 0 2px currentColor;
}