<div class="login-container">
    <div class="center-wrapper">
      <div class="sheet">
        <h2>Sign in to check out <br> your today's tasks.</h2>
        <form class='login-form'>
          <input class="username" type="text" placeholder="Username" />
          <input type="password" placeholder="Password" />
      
          <button class="btn-login" type="submit">Sign in</button>
        </form>
        <p>
          Don't have an account? 
          <a [routerLink]="['/register']" class="auth-link">Sign up</a>
        </p>
      </div>
    </div>
</div>