<div class="login-container">
    <div class="center-wrapper">
      <div class="sheet">
        <h2>Ready for a better workflow? <br> Sign up!</h2>
        <form class='login-form'>
          <input class="username" type="text" placeholder="Username" />
          <input class="email" type="text" placeholder="Email address" />
          <input type="password" placeholder="Password" />
          <input type="password" placeholder="Confirm password" />
      
          <button class="btn-register" type="submit">Sign in</button>
        </form>
        <p>
            Already have an account?
            <a [routerLink]="['/login']" class="auth-link">Sign in</a>
          </p>
      </div>
    </div>
</div>