<header class="top-bar">
  <div class="nav-bar">
    <span class="app-title">TaskManager</span>
      @if (loginService.isLoggedIn | async) {
      <nav class="nav-links">
        <a routerLink="/tasks" routerLinkActive="active-link">
          <span class="material-icons">assignment</span>
          <span class="app-page">Tasks</span>
        </a>
        <a routerLink="/statistics" routerLinkActive="active-link">
          <span class="material-icons">bar_chart</span>
          <span class="app-page">Stats</span>
        </a>
        <a routerLink="/profile" routerLinkActive="active-link">
          <span class="material-icons">person</span>
          <span class="app-page">Profile</span>
        </a>
      </nav>
      }
  </div>
  <div class="quick-actions">
    @if (loginService.isLoggedIn | async) {
      <button class="logout-btn" (click)="loginService.logout()">
        <span class="material-icons">logout</span>
      </button>
    }
    <button class="theme-toggle" (click)="toggleTheme()">
      @if(isDarkModeActive()) {
        <span class="material-icons">
          light_mode
        </span>
      }
      @else {
        <span class="material-icons">
          dark_mode
        </span>
      }
    </button>
  </div>
</header>
<main class="app-content">
  <router-outlet></router-outlet>
</main>