.info-container {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
}
.summary-cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card {
    flex: 1;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(from var(--color-primary) r g b / 0.1);
    box-shadow: var(--card-shadow);
    border: var(--card-border);
}
.text {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.actions{
    display: flex;
    flex-direction: row;
}
.card.picture {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
    padding: 16px;
}
.avatar {
    font-size: 10.0rem;
    color: var(--color-btn-newpage);
    justify-self: center;
}
.value {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-btn-newpage);
}
.label {
    color: var(--color-text-secondary);
}
.label.profile {
    color: var(--color-text-secondary);
    justify-self: flex-start;
}

button {
    background-color: transparent;
    justify-content: center;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-changeapassword { 
    background: var(--color-btn-green);
    color: var(--color-text-white);
  }