<div class="info-container" >
    <div class="summary-cards-container">
        <div class="card picture">
            <div class="text">
                <span class="label profile">This is your profile page</span>
            </div>
            <span class="material-icons avatar">
                account_circle
            </span>
        </div>
      <div class="card">
        <div class="text">
            <span class="label">Username</span>
            <span class="value">yournick2026</span>
        </div>
      </div>
      <div class="card">
        <div class="text">
            <span class="label">Email</span>
            <span class="value">youremail@test.com</span>
        </div>
      </div>
      <div class="card">
        <div class="text">
            <span class="label">Password</span>
            <span class="value">************</span>
        </div>
        <div class="actions">
            <button class="btn-changeapassword">
                Change
            </button>
        </div>
      </div>
    </div>

  </div>