/* src/styles.css */
body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #f7f4f4;
  margin: 0;
  padding: 20px;
  color: #333;
}

h1, h2 {
  color: #2c3e50;
  text-align: center;
}