:root {
  --color-primary: #2c3e50;

  /* Backgrounds */
  --color-bg-main: #f7f4f4;
  --color-bg-sheet: #ffffff;
  --color-bg-hover: #f8f9fa;
  --color-bg-active: #ecf0f1;
  --color-bg-details: #fafafa;
  --color-bg-selected: #f0f7ff;
  --color-bg-modal: #ddd;
  --color-bg-input: #ddd;

  /* Text */
  --color-text-primary: #2c3e50;
  --color-text-secondary: #001f34;
  --color-text-light: #444;
  --color-text-focus: #007bff;
  --color-text-error: #dc3545;
  --color-text-white: #ffffff;

  /* Borders */
  --color-border-light: #eee;
  --color-border-normal: #ddd;

  /*Buttons*/
  --color-btn-blue: #8dc2f4;
  --color-btn-red: #ff7675;
  --color-btn-green: #2a9f62;
  --color-btn-light-red: #ffeded;
  --color-btn-light-green: #8cebba;
  --color-btn-disabled: #ccc;

  /*Badges*/
  --color-bdg-todo: #ffeaa7;
  --color-bdg-inprogress: #8dc2f4;
  --color-bdg-done: #6df799;
  --color-bdg-todo-content: #d35400;
  --color-bdg-inprogress-content: #4858a9;
  --color-bdg-done-content: #2a9f62;
}

.dark-theme {
  --color-primary: #456585;

  /* Backgrounds */
  --color-bg-main: #3a3a3a;
  --color-bg-sheet: #c6c6c6;
  --color-bg-hover: #b8b8b8;
  --color-bg-active: #b1b1b1;
  --color-bg-details: #dfdfdf;
  --color-bg-selected: #f0f7ff;
  --color-bg-modal: #b2b2b2;
  --color-bg-input: #f0f7ff;

  /* Text */
  --color-text-primary: #4c4c4c;
  --color-text-secondary: #bcccd6;
  --color-text-light: #444;
  --color-text-focus: #007bff;
  --color-text-error: #dc3545;
  --color-text-white: #ffffff;

  /* Borders */
  --color-border-light: #d0d0d0;
  --color-border-normal: #dfdfdf;

  /*Buttons*/
  --color-btn-blue: #5b97d0;
  --color-btn-red: #d46666;
  --color-btn-green: #2a9f62;
  --color-btn-light-red: #ffeded;
  --color-btn-light-green: #8cebba;
  --color-btn-disabled: #ccc;

  /*Badges*/
  --color-bdg-todo: #e4d5a5;
  --color-bdg-inprogress: #8db7de;
  --color-bdg-done: #7fda9c;
  --color-bdg-todo-content: #d35400;
  --color-bdg-inprogress-content: #4858a9;
  --color-bdg-done-content: #2a9f62;
}

body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--color-bg-main);
  margin: 0;
  padding: 20px;
  color: #333;
}

h1, h2 {
  color: var(--color-text-secondary);
  text-align: center;
}
