:root {
  /* Backgrounds */
  --color-bg-main: #ffffff;
  --color-bg-hover: #f8f9fa;
  --color-bg-active: #ecf0f1;
  --color-bg-details: #fafafa;
  --color-bg-selected: #f0f7ff;
  --color-bg-modal: #ddd;
  --color-bg-input: #ddd;

  /* Text */
  --color-text-primary: #2c3e50;
  --color-text-secondary: #001f34;
  --color-text-light: #444;
  --color-text-focus: #007bff;
  --color-text-error: #dc3545;

  /* Borders */
  --color-border-light: #eee;
  --color-border-normal: #ddd;

  /*Buttons*/
  --color-btn-blue: #8dc2f4;
  --color-btn-red: #ff7675;
  --color-btn-green: #2a9f62;
  --color-btn-light-red: #ffeded;
  --color-btn-light-green: #8cebba;
  --color-btn-disabled: #ccc;

  /*Badges*/
  --color-bdg-todo: #ffeaa7;
  --color-bdg-inprogress: #8dc2f4;
  --color-bdg-done: #6df799;
  --color-bdg-todo-content: #d35400;
  --color-bdg-inprogress-content: #4858a9;
  --color-bdg-done-content: #2a9f62;
}

body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #f7f4f4;
  margin: 0;
  padding: 20px;
  color: #333;
}

h1, h2 {
  color: var(--color-text-primary);
  text-align: center;
}
